<h1>To Do List</h1>

<form action="/addTodoItem/" method="post">{% csrf_token %}
    <table>
        <tr>
            <td>
                <label name="content">Event</label>
            </td>
            <td>
                <input type="text" name="content">
            </td>
        </tr>
        <tr>
            <td>
                <label name="reminder">Want Reminder?</label>
            </td>
            <td>
                <input type="number" min = 0 max=1 name="reminder">
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Event">
</form>

<ul>
    <h2>Event &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reminder</h2>
    {% for i in all_items %}
    <li>{{i.content}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i.reminder}}
        <form action="/deleteTodoItem/{{i.id}}/" method="post">{% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>

